.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EBF4F6;
}

.login-card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  width: 350px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 20px;
  color: #09637E;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: 'Poppins', sans-serif;
  outline: none;
  transition: 0.3s;
}

.login-card input:focus {
  border-color: #088395;
}

.login-card button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: #088395;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.login-card button:hover {
  background-color: #066a73;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.switch {
  margin-top: 15px;
  font-size: 14px;
}

.switch span {
  color: #088395;
  cursor: pointer;
  font-weight: 500;
}